* {
    border-radius: 5px;
}
#wrapper {
    display: inline-block;
    height: 300px;
    width: 200px;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
}
input {
    margin: 5px;
}
button {
    margin: 10px;
}
